.container{
    width: 100vw;
    height: 100vh;
    min-width: 568px;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.endGame{
    animation: fadein 2s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.endGame button {
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	background-color:#f24537;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:24px;
	font-weight:bold;
	padding:32px 76px;
	text-decoration:none;
    text-shadow:0px 1px 0px #810e05;
}
.endGame button:hover {
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	background-color:#c62d1f;
}
.endGame button:active {
	position:relative;
	top:1px;
}

.endGame p{
    color: white;
    font-size: 72px;
}

.player{
    width: 30%;
    height: 90%;
    color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playerImg{
    width: 60%;
    border-radius: 16px;
    margin: 16px;
}

.fightZone{
    width: 35%;
    height: 90%;
    background-color: rgb(46, 46, 46, 0.8);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.actionCard{
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: rgb(240, 240, 240);
}

.displayCompteur{
    display: flex;
}

.separator{
    width: 90%;
    height: 4px;
    background-color:black;
}

.monster{
    width: 30%;
    height: 90%;
    color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.monsterImg{
    width: 60%;
    border-radius: 16px;
    margin: 16px;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}