.room {
  background-image: url("../images/room-dark.jpg");
  background-size: contain;
  position: absolute;
  background-color: transparent;
}
.room:visited {
  background-image: url("../images/room-light.jpg");
}
