body {
  /* background-image: url("../images/corridor.jpg"); */
  opacity: 0.9;
}

.test {
  background-color: #000;
  background-image: url("../images/room-dark.jpg");
  background-size: contain;
  position: absolute;
  background-color: #333;
}

 #map {
   background-image: url(../images/corridor.jpg);
   height: 2200px;
   width: 2200px;
 }